<%- messages() %>
<div class="hero">
    <img class="center" src="images/vehicles/monster-truck.jpg" alt="monster truck">
    <div class="text">
        <h2>Chevy Monster Truck</h2>
        <p>54" Tires</p>
        <a href="/inventory/8"><button id="buy">Buy Today</button></a>
    </div>
</div>

<div class="mainSec">
    <div class="left">
        <h3>Upgrades</h3>
        <div class="grid">
            <!--Box-->
            <div class="box">
                <a href="empty"><p>Hub Caps</p></a>
                <div class="upgrade-image">
                    <img src="images/upgrades/hub-cap.jpg" alt="hub caps">
                </div>
            </div>
            <!--Box-->
            <div class="box">
                <a href="empty"><p>Decals</p></a>
                <div class="upgrade-image">
                    <img src="images/upgrades/flame.jpg" alt="Decals">
                </div>
            </div>
            <!--Box-->
            <div class="box">
                <a href="empty"><p>Bumper Stickers</p></a>
                <div class="upgrade-image">
                    <img src="images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers">
                </div>
            </div>
            <!--Box-->
            <div class="box">
                <a href="empty"><p>Flux Capacitor</p></a>
                <div class="upgrade-image">
                    <img src="images/upgrades/flux-cap.png" alt="Flux Capacitors">
                </div>
            </div>

        </div>
    </div>
    <div class="right">
        <h3>Reviews</h3>
        <ul>
            <div class="rev">
                <li>Speedbumps? What speedbumps? (5/5)</li>
            </div>
            <div class="rev">
                <li>Makes rush hour traffic a breeze! (5/5)</li>
            </div>
            <div class="rev">
                <li>Great ride, expensive tires.. (4/5)</li>
            </div>
            <div class="rev">
                <li>Recommend buying extended warranty (4/5)</li>
            </div>
        </ul>
    </div>
</div>