/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  max-width: 1000px;
  background-color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 130;
  margin: auto;
}

header, header a {
  background-color: #222b31;
  color: white;
  text-decoration: none;
}
header .siteName {
  font-size: 28px;
  padding: 10px;
}
header #tools {
  margin-left: 90%;
}
header a:hover {
  color: green;
  text-decoration: underline;
}
nav {
  background-color: #48d59b;
  margin: 0 auto;
  padding: 1px;
  color: white;
}
nav ul {
  list-style-type: none;
  /* background-color: #61ebb1; */
  display: flex;
  flex: auto;
  justify-content: center;
}
nav .navel a {
  text-decoration: none;
  background-color: #61ebb1;
  color: rgb(29, 29, 29);
  padding: 15px;
}
.navel a:hover {
  background-color: #7448ed;
  color: white;
}
.navhome a {
  background-color: #7448ed;
  color: white;
  padding: 15px;
  text-decoration: none;
}
.navhome a:hover {
  background-color: #171717;
}

/* Section for dynamic inventory grids */
.inv-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  padding: 10px;
}
.grid-item-inv {
  background-color: #61ebb1;
  padding: 15px;
  font-size: 18px;
  text-align: center;
  border-radius: 10px;
  list-style-type: none;
  width: 90%;
}
.grid-item-inv img {
  width: 210px;
}
.grid-item-inv a {
  text-decoration: none;
  color: rgb(23, 23, 23);
}
#hoverlink:hover {
  color: #7448ed;
}
.item-display-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  padding: 10px;
}
.item-display-grid img {
  grid-column: 1/2;
  width: 90%;
}
.item-display-grid h2 {
  text-align: center;
  font-size: 30px;
  justify-content: center;
  align-content: center;
}
.inv-right {
  grid-column: 2/4;
}
.item-display-grid a {
  text-decoration: none;
}
#buy-car {
  background-color: #1b2a2c;
  text-align: center;
  color: white;
  cursor: pointer;
}
#buy-car:hover {
  background-color: #7448ed;
}
.hero {
  margin: 0 auto;
  min-height: 300px;
  height: auto;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  background-size: cover;
  background-position: center;
  position: relative;
}
.center {
  display: block;
  margin: 0 auto;
}
.text {
  position: absolute;
  max-width: 300px;
  background-color: #000000;
  color: white;
  left: 30%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  text-align: center;
  opacity: 80%;
  padding: 5px;
  box-sizing: border-box;
}

#buy {
  background-color: #1b2a2c;
  color: white;
  cursor: pointer;
  border-style: none;
}
#buy:hover {
  background-color: #61ebb1;
}

/* Main Section, it splits. */
.mainSec {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
/* Upgrades Side */
.left {
  grid-column: 1/2;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.box {
  text-align: center;
}
.upgrade-image {
  background-color:#304553;
  max-width: 135px;
  padding: 5px;
  margin-left: 55px;
}
.upgrade-image img {
  max-height: 65px;
}
/* End of Upgrades Side */

/* Reviews Side */
.right {
  grid-column: 2/3;
  font-size: 18px;
}
.rev {
  padding: 5px;
}

/* Error page styling */
.error-page {
  text-align: center;
}
.error-page a {
  text-decoration: none;
}
.error-button {
  background-color: #1b2a2c;
  color: white;
  cursor: pointer;
  border-style: none;
  padding: 10px;
  margin: 10px;
  max-width: 300px;
  margin: 0 auto;
}
.error-code {
  font-size: 50px;
  color: red;
}
.error-fivehundred {
  font-size: 18px;
  text-decoration: none;
  color: white;
}
.error-fivehundred:hover {
  color: #7448ed;
}
.error-button:hover {
  background-color: #7448ed;

}

/* End of Reviews Side */

/* Flash message */
.notice-bad {
  background-color: rgba(223, 52, 52, 0.804);
  color: white;
  font-size: 20px;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  list-style-type: none;
}
.notice-good {
  background-color: rgba(123, 242, 123, 0.559);
  color: white;
  font-size: 20px;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  list-style-type: none;
}

/* forms */
.page-title {
  text-align: center;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
.login {
  background-color: #222b31;
  margin: 0 auto;
  padding: 10px;
  color: white;
  text-align: center;
  border-radius: 10px;
  width: 300px;
}
.login input {
  margin: 5px auto;
  padding: 5px;
  border-radius: 5px;
  width: 90%;
  font-weight: 500;
}
.login button {
  background-color: #7448ed;
  color: white;
  cursor: pointer;
  border-style: none;
  padding: 10px;
  margin: 10px;
  max-width: 300px;
}
.login button:hover {
  background-color: #4420a8;
}
.form-control {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  padding: 10px;
  margin: 0 auto;
}
.register a {
  color: #48d59b;
  text-decoration: none;
}
.register a:hover {
  color: #7448ed;
}

.register-form {
  background-color: #222b31;
  margin: 0 auto;
  padding: 10px;
  color: white;
  text-align: center;
  border-radius: 10px;
  width: 300px;
}
.register-form input {
  margin: 5px auto;
  padding: 5px;
  border-radius: 5px;
  width: 90%;
  font-weight: 500;
}
.register-form button {
  background-color: #7448ed;
  color: white;
  cursor: pointer;
  border-style: none;
  padding: 10px;
  margin: 10px;
  max-width: 300px;
}
.register-form button:hover {
  background-color: #4420a8;
}
.pwspecs {
  text-align: left;
  margin-left: 15%;
}
/* input validator via CSS */
input:invalid, select:invalid, textarea:invalid {
  background-color: rgba(255, 0, 0, 0.452);
}
input:valid, select:valid, textarea:valid {
  background-color: rgba(0, 255, 0, 0.452);
}

/* Management Page */
.main_manage {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  padding: 10px;
  margin: 0 auto;
}
.main-item {
  background-color: #222b22;
  color: white;
  padding: 15px;
  margin: 0 auto;
  font-size: 18px;
  text-align: center;
  border-radius: 10px;
  list-style-type: none;
  width: 90%;
}
.main-item p {
  font-size: 14px;
  padding: 10px;
}
.main-item a {
  text-decoration: none;
  background-color: #7448ed;
  color: white;
  padding: 12px;
}
.main-item a:hover {
  background-color: #364446;
}
/* Add Classification Page */
.add_class_form {
  background-color: #222b31;
  margin: 0 auto;
  padding: 30px;
  color: white;
  text-align: center;
  border-radius: 10px;
  width: 300px;
}
.add_class_form label {
  margin: 5px auto;
  padding: 15px;
  font-weight: 500;
}
.add_class_form input {
  margin: 5px auto;
  padding: 5px;
  border-radius: 5px;
  width: 90%;
  font-weight: 500;
}
.add_class_form input[type="text"] {
  color: white;
}

/* Add Inventory Page */
.add_inventory_form {
  background-color: #222b31;
  margin: 0 auto;
  padding: 30px;
  color: white;
  text-align: center;
  border-radius: 10px;
  width: 300px;
}
.form-group {
  padding: 10px;
}
.add_inventory_form select {
  margin: 5px auto;
  padding: 5px;
  border-radius: 5px;
  width: 90%;
  font-weight: 500;
}
.add_inventory_form label {
  margin: 5px auto;
  padding: 15px;
  font-weight: 500;
}
.add_inventory_form input {
  margin: 5px auto;
  padding: 5px;
  border-radius: 5px;
  width: 90%;
  font-weight: 500;
}
.add_inventory_form ::placeholder {
  color: white;
}
.home-select {
  color: white;
}
.add_inventory_form select {
  color: white;
}
.add_inventory_form input[type="text"] {
  color: white;
}
.add_inventory_form textarea {
  color: white;
  width: 90%;
}
.add_inventory_form button {
  background-color: #7448ed;
  color: white;
  cursor: pointer;
  border-style: none;
  padding: 10px;
  margin: 10px;
  max-width: 300px;
}
.add_inventory_form button:hover {
  background-color: #4420a8;
}

footer {
  color: white;
  background-color:#222b31;
  text-align: center;
}


/*
* Responsive design
*
*
*/
@media screen and (max-width: 800px) {
  body {
    max-width: 100%;
    min-width: 100%;
    margin: auto;
    padding: 5px;
  }
  nav ul {
    display: flex;
    flex: auto;
    margin: 0 auto;
    padding: 0 10px;
    gap: 3px;
    margin-left: 25%;
  }
  nav .navel a {
    padding: 10px;
  }
  .navhome a {
    padding: 10px;
  }
  nav {
    width: 100%;
    overflow: scroll;
    align-content: center;
    height: 50px;
  }
  .text {
    left: 80%;
    top: 50%;
    transform: translate(15%, -90%);
  }
  #tools a {
    position: relative;
    right: 50px;
    bottom: 5px;
  }
  .inv-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    padding: 10px;
  }
  .item-display-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    text-align: center;
  }
  .item-display-grid img {
    width: auto;
    max-width: 90%;
  }
  .inv-detail-view {
    margin: 0 auto;
    border: none;
    padding: 0;
  }
  /* This is in the individual pages for inventory items. */
  #buy-car {
    background-color: #1b2a2c;
    text-align: center;
    color: white;
    cursor: pointer;
    width: 200px;
    height: 20px;
  }
  .item-display-grid a {
    margin: 0 auto;
  }
  .hero {
    display: inline;
    margin: 0px auto;
    padding: 10px;
  }
  .hero .center {
    max-width: 95%;
  }
  .hero .text {
    max-width: 150px;
    top: 220px;
  }
  .mainSec {
    display: block;
  }
}