<%- messages() %>
<h1><%- title %></h1>
<div class="main_manage">
    <div class="main-item">
        <h3>Add New Classifications</h3>
        <p>Adds a new vehicle classification</p>
        <a href="/inventory/add-classification" class="button">Add</a>
    </div>
    <div class="main-item">
        <h3>Add New Item</h3>
        <p>Adds a new vehicle to the inventory</p>
        <a href="/inventory/add-inventory" class="button">Add</a>
    </div>
</div>